.page-container {
    background-image: url('../images/contactus.jpg');
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    color: #fff;
}