.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333333 ;
    font-size: 1.2rem;
    padding: 0px 20px;
    height: 35px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
}
.nav a{
    text-decoration: none;
    color: #007bff;
    font-size: 1.9rem;
    font-weight: 900;
    padding: 0px 20px;
}
.topnav{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.topnav li{
    cursor: pointer;
    padding: 0px 15px;
    position: relative;
    text-align: center;
}

.topnav li a{
    text-decoration: none;
    font-size: 1.3rem;
    color: #ffffff;
    font-weight: 500;
    padding: 5px 10px;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}

.topnav li a:hover {
    background-color: #007bff;
    border-color: #007bff;
    color: #ffffff;
}

.mobile {
    display: none;
    padding-right: 20px;
}

.mobile i {
    color: #ffffff;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .nav {
        padding: 0px 10px;
    }

    .topnav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border-radius: 15px;
        position: fixed;
        top: 40px;
        right: -300px;
        width: 200px;
        height: 100vh;
        padding: 40px 10px 0 20px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.06);;
        background-color: #1a1a1a;
        transition: 0.2s ease-in-out;
    }

    .topnav.active{
        right: 0px;
    }
    
    .topnav li{
        margin-bottom: 18%;
    }

    .mobile{
        display: block;
    }

    .mobile i {
        font-size: 24px;
    }
}